USE [StudentHousingTM]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[VisitRequestID] [int] NOT NULL,
	[ConversationID] [int] NOT NULL,
	[StudentProfileID] [int] NOT NULL,
	[OwnerProfileID] [int] NOT NULL,
	[PropertyID] [int] NOT NULL,
	[ConfirmedDate] [date] NOT NULL,
	[ConfirmedTime] [time](7) NULL,
	[StatusID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Appointments_VisitRequest] UNIQUE NONCLUSTERED 
(
	[VisitRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentStatuses]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentStatuses](
	[AppointmentStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[ConversationID] [int] IDENTITY(1,1) NOT NULL,
	[MatchID] [int] NOT NULL,
	[StudentProfileID] [int] NOT NULL,
	[OwnerProfileID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[ConversationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Conversations_MatchID] UNIQUE NONCLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[StudentRequestID] [int] NOT NULL,
	[PropertyID] [int] NOT NULL,
	[MatchScore] [int] NOT NULL,
	[MatchType] [nvarchar](10) NOT NULL,
	[StudentInterested] [bit] NOT NULL,
	[OwnerInterested] [bit] NOT NULL,
	[MatchStatusID] [int] NOT NULL,
	[RejectedBy] [nvarchar](10) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[MutualConfirmedAt] [datetime] NULL,
 CONSTRAINT [PK_Matches] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Matches_RequestProperty] UNIQUE NONCLUSTERED 
(
	[StudentRequestID] ASC,
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchStatuses]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchStatuses](
	[MatchStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[ConversationID] [int] NOT NULL,
	[SenderID] [int] NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[SentAt] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[NotificatonTypeID] [int] NOT NULL,
	[ReferenceTypeID] [int] NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationsReferenceTypes]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationsReferenceTypes](
	[ReferenceTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Reference] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReferenceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationsTypes]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationsTypes](
	[NotificationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnerProfiles]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerProfiles](
	[OwnerProfileID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[NumberOfProperties] [int] NOT NULL,
	[RequiresInsurance] [bit] NOT NULL,
	[AcceptsInternational] [bit] NOT NULL,
	[PreferredTenantGenderID] [int] NOT NULL,
 CONSTRAINT [PK_OwnerProfiles] PRIMARY KEY CLUSTERED 
(
	[OwnerProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_OwnerProfiles_UserID] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[OwnerProfileID] [int] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[PropertyTypeID] [int] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[AreaZone] [nvarchar](150) NOT NULL,
	[PricePerMonth] [decimal](10, 2) NOT NULL,
	[UtilitiesIncluded] [bit] NOT NULL,
	[Furnished] [bit] NOT NULL,
	[InsuranceRequired] [bit] NOT NULL,
	[MaxTenants] [int] NOT NULL,
	[AvailableFrom] [date] NOT NULL,
	[AvailableUntil] [date] NULL,
	[PreferredGenderID] [int] NOT NULL,
	[AcceptsInternational] [bit] NOT NULL,
	[SmokersAllowed] [bit] NOT NULL,
	[PetsAllowed] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StatusID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Properties] PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyPhotos]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyPhotos](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
	[PhotoURL] [nvarchar](500) NOT NULL,
	[UploadedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PropertyPhotos] PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyStatuses]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTypes]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTypes](
	[PropertyTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyType] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestPreferredAreas]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestPreferredAreas](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[AreaName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_RequestPreferredAreas] PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RPA_RequestArea] UNIQUE NONCLUSTERED 
(
	[RequestID] ASC,
	[AreaName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProfiles]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProfiles](
	[StudentProfileID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[University] [nvarchar](200) NOT NULL,
	[FieldOfStudy] [nvarchar](200) NOT NULL,
	[YearOfStudyID] [int] NOT NULL,
	[IsSmoker] [bit] NOT NULL,
	[HasPets] [bit] NOT NULL,
 CONSTRAINT [PK_StudentProfiles] PRIMARY KEY CLUSTERED 
(
	[StudentProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StudentProfiles_UserID] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentRequests]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[StudentProfileID] [int] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[BudgetMin] [decimal](10, 2) NOT NULL,
	[BudgetMax] [decimal](10, 2) NOT NULL,
	[MoveInDate] [date] NOT NULL,
	[MoveOutDate] [date] NULL,
	[PropertyTypePreferredID] [int] NOT NULL,
	[FurnishedRequired] [bit] NULL,
	[UtilitiesRequired] [bit] NOT NULL,
	[PetsAllowed] [bit] NOT NULL,
	[SmokersAllowed] [bit] NOT NULL,
	[AdditionalNotes] [nvarchar](max) NULL,
	[StatusID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_StudentRequests] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyYears]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyYears](
	[YearID] [int] IDENTITY(1,1) NOT NULL,
	[YearOfStudy] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](512) NOT NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[NationalityID] [int] NOT NULL,
	[GenderID] [int] NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[ProfilePhoto] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitProposedDates]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitProposedDates](
	[ProposedDateID] [int] IDENTITY(1,1) NOT NULL,
	[VisitRequestID] [int] NOT NULL,
	[ProposedDate] [date] NOT NULL,
 CONSTRAINT [PK_VisitProposedDates] PRIMARY KEY CLUSTERED 
(
	[ProposedDateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VPD_RequestDate] UNIQUE NONCLUSTERED 
(
	[VisitRequestID] ASC,
	[ProposedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitRequests]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitRequests](
	[VisitRequestID] [int] IDENTITY(1,1) NOT NULL,
	[ConversationID] [int] NOT NULL,
	[StudentProfileID] [int] NOT NULL,
	[PropertyID] [int] NOT NULL,
	[StudentNote] [nvarchar](500) NULL,
	[StatusID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_VisitRequests] PRIMARY KEY CLUSTERED 
(
	[VisitRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitStatuses]    Script Date: 5/13/2026 1:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitStatuses](
	[VisitStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK__VisitSta__8013A2F3A20543A1] PRIMARY KEY CLUSTERED 
(
	[VisitStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF_Appt_Status]  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF_Appt_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Conversations] ADD  CONSTRAINT [DF_Conv_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Conversations] ADD  CONSTRAINT [DF_Conv_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Matches] ADD  CONSTRAINT [DF_Match_StudentInt]  DEFAULT ((0)) FOR [StudentInterested]
GO
ALTER TABLE [dbo].[Matches] ADD  CONSTRAINT [DF_Match_OwnerInt]  DEFAULT ((0)) FOR [OwnerInterested]
GO
ALTER TABLE [dbo].[Matches] ADD  CONSTRAINT [DF_Match_Status]  DEFAULT ((1)) FOR [MatchStatusID]
GO
ALTER TABLE [dbo].[Matches] ADD  CONSTRAINT [DF_Match_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF_Msg_SentAt]  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Messages] ADD  CONSTRAINT [DF_Msg_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notif_Type]  DEFAULT ((1)) FOR [NotificatonTypeID]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notif_RefType]  DEFAULT ((1)) FOR [ReferenceTypeID]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notif_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notif_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OwnerProfiles] ADD  CONSTRAINT [DF_OP_Insurance]  DEFAULT ((0)) FOR [RequiresInsurance]
GO
ALTER TABLE [dbo].[OwnerProfiles] ADD  CONSTRAINT [DF_OP_Intl]  DEFAULT ((1)) FOR [AcceptsInternational]
GO
ALTER TABLE [dbo].[OwnerProfiles] ADD  CONSTRAINT [DF_OP_Gender]  DEFAULT ('No preference') FOR [PreferredTenantGenderID]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Prop_Utilities]  DEFAULT ((0)) FOR [UtilitiesIncluded]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Prop_Furnished]  DEFAULT ((0)) FOR [Furnished]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Prop_Insurance]  DEFAULT ((0)) FOR [InsuranceRequired]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Prop_MaxTenants]  DEFAULT ((1)) FOR [MaxTenants]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Prop_Gender]  DEFAULT ((3)) FOR [PreferredGenderID]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Prop_Intl]  DEFAULT ((1)) FOR [AcceptsInternational]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Prop_Smokers]  DEFAULT ((0)) FOR [SmokersAllowed]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Prop_Pets]  DEFAULT ((0)) FOR [PetsAllowed]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Prop_Status]  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Prop_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PropertyPhotos] ADD  CONSTRAINT [DF_Photos_UploadedAt]  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[StudentProfiles] ADD  CONSTRAINT [DF_SP_IsSmoker]  DEFAULT ((0)) FOR [IsSmoker]
GO
ALTER TABLE [dbo].[StudentProfiles] ADD  CONSTRAINT [DF_SP_HasPets]  DEFAULT ((0)) FOR [HasPets]
GO
ALTER TABLE [dbo].[StudentRequests] ADD  CONSTRAINT [DF_SR_Utilities]  DEFAULT ((0)) FOR [UtilitiesRequired]
GO
ALTER TABLE [dbo].[StudentRequests] ADD  CONSTRAINT [DF_SR_Pets]  DEFAULT ((0)) FOR [PetsAllowed]
GO
ALTER TABLE [dbo].[StudentRequests] ADD  CONSTRAINT [DF_SR_Smokers]  DEFAULT ((0)) FOR [SmokersAllowed]
GO
ALTER TABLE [dbo].[StudentRequests] ADD  CONSTRAINT [DF_SR_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VisitRequests] ADD  CONSTRAINT [DF_VR_Status]  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[VisitRequests] ADD  CONSTRAINT [DF_VR_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_AppointmentStatuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[AppointmentStatuses] ([AppointmentStatusID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_AppointmentStatuses]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Conversations] FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversations] ([ConversationID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Conversations]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_OwnerProfiles] FOREIGN KEY([OwnerProfileID])
REFERENCES [dbo].[OwnerProfiles] ([OwnerProfileID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_OwnerProfiles]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Properties] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Properties]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_StudentProfiles] FOREIGN KEY([StudentProfileID])
REFERENCES [dbo].[StudentProfiles] ([StudentProfileID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_StudentProfiles]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_VisitRequests] FOREIGN KEY([VisitRequestID])
REFERENCES [dbo].[VisitRequests] ([VisitRequestID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_VisitRequests]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Matches] FOREIGN KEY([MatchID])
REFERENCES [dbo].[Matches] ([MatchID])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Matches]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_OwnerProfiles] FOREIGN KEY([OwnerProfileID])
REFERENCES [dbo].[OwnerProfiles] ([OwnerProfileID])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_OwnerProfiles]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_StudentProfiles] FOREIGN KEY([StudentProfileID])
REFERENCES [dbo].[StudentProfiles] ([StudentProfileID])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_StudentProfiles]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_MatchStatuses] FOREIGN KEY([MatchStatusID])
REFERENCES [dbo].[MatchStatuses] ([MatchStatusID])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_MatchStatuses]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Properties] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Properties]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_StudentRequests] FOREIGN KEY([StudentRequestID])
REFERENCES [dbo].[StudentRequests] ([RequestID])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_StudentRequests]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Conversations] FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversations] ([ConversationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Conversations]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_RefTypes] FOREIGN KEY([ReferenceTypeID])
REFERENCES [dbo].[NotificationsReferenceTypes] ([ReferenceTypeID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_RefTypes]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Types] FOREIGN KEY([NotificatonTypeID])
REFERENCES [dbo].[NotificationsTypes] ([NotificationTypeID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Types]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[OwnerProfiles]  WITH CHECK ADD  CONSTRAINT [FK_OwnerProfiles_Genders] FOREIGN KEY([PreferredTenantGenderID])
REFERENCES [dbo].[Genders] ([GenderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OwnerProfiles] CHECK CONSTRAINT [FK_OwnerProfiles_Genders]
GO
ALTER TABLE [dbo].[OwnerProfiles]  WITH CHECK ADD  CONSTRAINT [FK_OwnerProfiles_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OwnerProfiles] CHECK CONSTRAINT [FK_OwnerProfiles_Users]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_Genders] FOREIGN KEY([PreferredGenderID])
REFERENCES [dbo].[Genders] ([GenderID])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_Genders]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_OwnerProfiles] FOREIGN KEY([OwnerProfileID])
REFERENCES [dbo].[OwnerProfiles] ([OwnerProfileID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_OwnerProfiles]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_ProperityStatuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[PropertyStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_ProperityStatuses]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_PropertyTypes] FOREIGN KEY([PropertyTypeID])
REFERENCES [dbo].[PropertyTypes] ([PropertyTypeID])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_PropertyTypes]
GO
ALTER TABLE [dbo].[PropertyPhotos]  WITH CHECK ADD  CONSTRAINT [FK_PropertyPhotos_Properties] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyPhotos] CHECK CONSTRAINT [FK_PropertyPhotos_Properties]
GO
ALTER TABLE [dbo].[RequestPreferredAreas]  WITH CHECK ADD  CONSTRAINT [FK_RPA_StudentRequests] FOREIGN KEY([RequestID])
REFERENCES [dbo].[StudentRequests] ([RequestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestPreferredAreas] CHECK CONSTRAINT [FK_RPA_StudentRequests]
GO
ALTER TABLE [dbo].[StudentProfiles]  WITH CHECK ADD  CONSTRAINT [FK_StudentProfiles_StudyYears] FOREIGN KEY([YearOfStudyID])
REFERENCES [dbo].[StudyYears] ([YearID])
GO
ALTER TABLE [dbo].[StudentProfiles] CHECK CONSTRAINT [FK_StudentProfiles_StudyYears]
GO
ALTER TABLE [dbo].[StudentProfiles]  WITH CHECK ADD  CONSTRAINT [FK_StudentProfiles_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[StudentProfiles] CHECK CONSTRAINT [FK_StudentProfiles_Users]
GO
ALTER TABLE [dbo].[StudentRequests]  WITH CHECK ADD  CONSTRAINT [FK_StudentRequests_PropertyStatuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[PropertyStatuses] ([StatusID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentRequests] CHECK CONSTRAINT [FK_StudentRequests_PropertyStatuses]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Countries] FOREIGN KEY([NationalityID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Countries]
GO
ALTER TABLE [dbo].[VisitProposedDates]  WITH CHECK ADD  CONSTRAINT [FK_VPD_VisitRequests] FOREIGN KEY([VisitRequestID])
REFERENCES [dbo].[VisitRequests] ([VisitRequestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VisitProposedDates] CHECK CONSTRAINT [FK_VPD_VisitRequests]
GO
ALTER TABLE [dbo].[VisitRequests]  WITH CHECK ADD  CONSTRAINT [FK_VisitRequests_Conversations] FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversations] ([ConversationID])
GO
ALTER TABLE [dbo].[VisitRequests] CHECK CONSTRAINT [FK_VisitRequests_Conversations]
GO
ALTER TABLE [dbo].[VisitRequests]  WITH CHECK ADD  CONSTRAINT [FK_VisitRequests_Properties] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
GO
ALTER TABLE [dbo].[VisitRequests] CHECK CONSTRAINT [FK_VisitRequests_Properties]
GO
ALTER TABLE [dbo].[VisitRequests]  WITH CHECK ADD  CONSTRAINT [FK_VisitRequests_StudentProfiles] FOREIGN KEY([StudentProfileID])
REFERENCES [dbo].[StudentProfiles] ([StudentProfileID])
GO
ALTER TABLE [dbo].[VisitRequests] CHECK CONSTRAINT [FK_VisitRequests_StudentProfiles]
GO
ALTER TABLE [dbo].[VisitRequests]  WITH CHECK ADD  CONSTRAINT [FK_VisitRequests_VisitStatuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[VisitStatuses] ([VisitStatusID])
GO
ALTER TABLE [dbo].[VisitRequests] CHECK CONSTRAINT [FK_VisitRequests_VisitStatuses]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_Appt_Status] CHECK  (([StatusID]=(3) OR [StatusID]=(2) OR [StatusID]=(1)))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_Appt_Status]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [CK_Match_RejectedBy] CHECK  (([RejectedBy] IS NULL OR ([RejectedBy]='Owner' OR [RejectedBy]='Student')))
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [CK_Match_RejectedBy]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [CK_Match_RejectedConsistency] CHECK  (([MatchStatusID]=(4) AND [RejectedBy] IS NOT NULL OR [MatchStatusID]<>(4) AND [RejectedBy] IS NULL))
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [CK_Match_RejectedConsistency]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [CK_Match_Score] CHECK  (([MatchScore]>=(0) AND [MatchScore]<=(100)))
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [CK_Match_Score]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [CK_Match_Status] CHECK  (([MatchStatusID]=(4) OR [MatchStatusID]=(3) OR [MatchStatusID]=(2) OR [MatchStatusID]=(1)))
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [CK_Match_Status]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [CK_Match_Type] CHECK  (([MatchType]='Partial' OR [MatchType]='Perfect'))
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [CK_Match_Type]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [CK_Msg_Text] CHECK  ((len(ltrim([MessageText]))>(0)))
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [CK_Msg_Text]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notif_Message] CHECK  ((len(ltrim([Message]))>(0)))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notif_Message]
GO
ALTER TABLE [dbo].[OwnerProfiles]  WITH CHECK ADD  CONSTRAINT [CK_OP_Gender] CHECK  (([PreferredTenantGenderID]=(3) OR [PreferredTenantGenderID]=(2) OR [PreferredTenantGenderID]=(1)))
GO
ALTER TABLE [dbo].[OwnerProfiles] CHECK CONSTRAINT [CK_OP_Gender]
GO
ALTER TABLE [dbo].[OwnerProfiles]  WITH CHECK ADD  CONSTRAINT [CK_OP_NumProps] CHECK  (([NumberOfProperties]>=(1)))
GO
ALTER TABLE [dbo].[OwnerProfiles] CHECK CONSTRAINT [CK_OP_NumProps]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [CK_Prop_Dates] CHECK  (([AvailableUntil] IS NULL OR [AvailableUntil]>[AvailableFrom]))
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [CK_Prop_Dates]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [CK_Prop_Gender] CHECK  (([PreferredGenderID]=(3) OR [PreferredGenderID]=(2) OR [PreferredGenderID]=(1)))
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [CK_Prop_Gender]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [CK_Prop_MaxTenants] CHECK  (([MaxTenants]>=(1)))
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [CK_Prop_MaxTenants]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [CK_Prop_Price] CHECK  (([PricePerMonth]>(0)))
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [CK_Prop_Price]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [CK_Prop_PropertyType] CHECK  (([PropertyTypeID]=(3) OR [PropertyTypeID]=(2) OR [PropertyTypeID]=(1)))
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [CK_Prop_PropertyType]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [CK_Prop_Status] CHECK  (([StatusID]=(3) OR [StatusID]=(2) OR [StatusID]=(1)))
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [CK_Prop_Status]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [CK_Prop_Title] CHECK  ((len(ltrim([Title]))>(0)))
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [CK_Prop_Title]
GO
ALTER TABLE [dbo].[PropertyPhotos]  WITH CHECK ADD  CONSTRAINT [CK_Photos_URL] CHECK  ((len(ltrim([PhotoURL]))>(0)))
GO
ALTER TABLE [dbo].[PropertyPhotos] CHECK CONSTRAINT [CK_Photos_URL]
GO
ALTER TABLE [dbo].[RequestPreferredAreas]  WITH CHECK ADD  CONSTRAINT [CK_RPA_AreaName] CHECK  ((len(ltrim([AreaName]))>(0)))
GO
ALTER TABLE [dbo].[RequestPreferredAreas] CHECK CONSTRAINT [CK_RPA_AreaName]
GO
ALTER TABLE [dbo].[StudentProfiles]  WITH CHECK ADD  CONSTRAINT [CK_SP_YearOfStudy] CHECK  (([YearOfStudyID]=(7) OR [YearOfStudyID]=(6) OR [YearOfStudyID]=(5) OR [YearOfStudyID]=(4) OR [YearOfStudyID]=(3) OR [YearOfStudyID]=(2) OR [YearOfStudyID]=(1)))
GO
ALTER TABLE [dbo].[StudentProfiles] CHECK CONSTRAINT [CK_SP_YearOfStudy]
GO
ALTER TABLE [dbo].[StudentRequests]  WITH CHECK ADD  CONSTRAINT [CK_SR_BudgetMax] CHECK  (([BudgetMax]>=[BudgetMin]))
GO
ALTER TABLE [dbo].[StudentRequests] CHECK CONSTRAINT [CK_SR_BudgetMax]
GO
ALTER TABLE [dbo].[StudentRequests]  WITH CHECK ADD  CONSTRAINT [CK_SR_BudgetMin] CHECK  (([BudgetMin]>(0)))
GO
ALTER TABLE [dbo].[StudentRequests] CHECK CONSTRAINT [CK_SR_BudgetMin]
GO
ALTER TABLE [dbo].[StudentRequests]  WITH CHECK ADD  CONSTRAINT [CK_SR_Dates] CHECK  (([MoveOutDate] IS NULL OR [MoveOutDate]>[MoveInDate]))
GO
ALTER TABLE [dbo].[StudentRequests] CHECK CONSTRAINT [CK_SR_Dates]
GO
ALTER TABLE [dbo].[StudentRequests]  WITH CHECK ADD  CONSTRAINT [CK_SR_PropType] CHECK  (([PropertyTypePreferredID]=(4) OR [PropertyTypePreferredID]=(3) OR [PropertyTypePreferredID]=(2) OR [PropertyTypePreferredID]=(1)))
GO
ALTER TABLE [dbo].[StudentRequests] CHECK CONSTRAINT [CK_SR_PropType]
GO
ALTER TABLE [dbo].[StudentRequests]  WITH CHECK ADD  CONSTRAINT [CK_SR_Status] CHECK  (([StatusID]=(3) OR [StatusID]=(2) OR [StatusID]=(1)))
GO
ALTER TABLE [dbo].[StudentRequests] CHECK CONSTRAINT [CK_SR_Status]
GO
ALTER TABLE [dbo].[StudentRequests]  WITH CHECK ADD  CONSTRAINT [CK_SR_Title] CHECK  ((len(ltrim([Title]))>(0)))
GO
ALTER TABLE [dbo].[StudentRequests] CHECK CONSTRAINT [CK_SR_Title]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Email] CHECK  ((len(ltrim([Email]))>(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Email]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_FullName] CHECK  ((len(ltrim([FullName]))>(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_FullName]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Password] CHECK  ((len([PasswordHash])>(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Password]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Owner' OR [Role]='Student'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[VisitProposedDates]  WITH CHECK ADD  CONSTRAINT [CK_VPD_Date] CHECK  (([ProposedDate]>=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[VisitProposedDates] CHECK CONSTRAINT [CK_VPD_Date]
GO
ALTER TABLE [dbo].[VisitRequests]  WITH CHECK ADD  CONSTRAINT [CK_VR_Status] CHECK  (([StatusID]=(4) OR [StatusID]=(3) OR [StatusID]=(2) OR [StatusID]=(1)))
GO
ALTER TABLE [dbo].[VisitRequests] CHECK CONSTRAINT [CK_VR_Status]
GO
